### System & PhpStorm ###
.idea
.DS_Store

### Package managers ###
/vendor
/node_modules
npm-debug.log
yarn-error.log

### Statamic ###
.env
.env.backup
.phpunit.result.cache
.php_cs.cache

/storage/*.key

/public/assets
/public/css
/public/js
mix-manifest.json
